<header class="grid gap">
	<h1 class="text center">La Mia Galleria</h1>
	<nav>
		<ul>
			<li>
				<a href="@Url.Action("Index", "Photo")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("ApiIndex", "Photo")">Api view</a>
			</li>
			@await Html.PartialAsync("_LoginPartial")
		</ul>
	</nav>
</header>