<header class="grid gap d-flex justify-content-between">
	<h1 class="text center ps-4">La Mia Galleria</h1>
	<nav class="pe-4">
		<ul class="d-flex gap-3">
			<li class="nav-li">
				<a class="fw-bold" href="@Url.Action("Index", "Photo")">Home</a>
			</li>
			@if (User.IsInRole("Admin"))
			{
				<li class="nav-li">
					<a class="fw-bold" href="@Url.Action("Index", "Message")">Messaggi</a>
				</li>
				<li class="nav-li">
					<a class="fw-bold" href="@Url.Action("ApiIndex", "Photo")">Api view</a>
				</li>

				
			}
			@await Html.PartialAsync("_LoginPartial")
		</ul>
	</nav>
</header>