<header class="grid gap">
	<h1 class="text center text-danger">Il mio Fotoalbum</h1>
	@*<nav>
	<ul>
	<li>
	<a href="@Url.Action("Index", "Pizza")">Home</a>
	</li>
	<li>
	<a href="@Url.Action("ApiIndex", "Pizza")">Api view</a>
	</li>
	@await Html.PartialAsync("_LoginPartial")
	</ul>
	</nav>*@
</header>