<header class="grid gap d-flex justify-content-between">
	<h1 class="text center ps-4">La Mia Galleria</h1>
	<nav class="pe-4">
		<ul class="d-flex gap-3">
			<li>
				<a href="@Url.Action("Index", "Photo")">Home</a>
			</li>
			<li>
				<a href="@Url.Action("Index", "Message")">Messaggi</a>
			</li>
			<li>
				<a href="@Url.Action("ApiIndex", "Photo")">Api view</a>
			</li>
	
			@await Html.PartialAsync("_LoginPartial")
			
		</ul>
	</nav>
</header>