@model Message[];
@{
    var messages = Model;
}
<h1 class="text-center">I miei Messaggi</h1>
@if (messages is null)
{
    <p class="text-center my-3">No messages to Display</p>
}
else
{
    <div class="d-flex justify-content-center">
        <table class="table table-striped table-bordered my-5">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Email</th>
                    <th scope="col">Messaggio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in messages)
                {
                    <tr class="text-center align-middle">
                        <td scope="row"> @message.Id </td>
                        <td> @message.Email</td>
                        <td class="text-break"> @message.MessageText </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}