<h2>New photo</h2>

<div class="container">
	<div class="pad">
		<form id="photo-create-form">
			<div class="form-field">
				<label class="form-label" for="title">Nome</label>
				<input class="form-control" id="title" />
				<span id="title-errors" class="text error"></span>
			</div>
			<div class="form-field">
				<label class="form-label" for="description">Descrizione</label>
				<textarea class="form-control" id="description"></textarea>
				<span id="description-errors" class="text error"></span>
			</div>
			<div class="form-field">
				<label class="form-label" for="foto">Image source</label>
				<input class="form-control" id="foto" value="https://picsum.photos/200/300" />
				<span id="foto-errors" class="text error"></span>
			</div>
			<div class="form-field">
				<label class="form-label" for="category">Ingredienti</label>
				<div id="categories"></div>
			</div>

			<button class="btn btn-success my-2" id="submit-form" type="submit">Create</button>
		</form>
	</div>
</div>

@section Scripts
	{
	<script>
		loadCategories();
		initCreateForm();
	</script>
}