<h2>New photo</h2>

<div class="container">
	<div class="pad">
		<form id="post-create-form">
			<div class="form-field">
				<label for="title">Title</label>
				<input id="title" />
				<span id="title-errors" class="text error"></span>
			</div>
			<div class="form-field">
				<label for="description">Description</label>
				<textarea id="description"></textarea>
				<span id="description-errors" class="text error"></span>
			</div>
			<div class="form-field">
				<label for="image">Image source</label>
				<input id="image" value="https://picsum.photos/200/300" />
				<span id="image-errors" class="text error"></span>
			</div>
			@*			<div class="form-field">
			<label for="image-file">Image file</label>
			<input type="file" id="image-file"/>
			<span id="ImageFormFile" class="text error"></span>
			</div>*@
			<div class="form-field">
				<label>Category</label>
				<div id="categories"></div>
			</div>
			<button type="submit">Create</button>
		</form>
	</div>
</div>

@section Scripts
	{
	<script>
		loadCategories();
		initCreateForm();
	</script>
}