﻿
@{
    ViewData["Title"] = "Detail";
}

<main class="pt-4">
    <div class="container">
        <div id="detail"></div>
    </div>
</main>

@section Scripts {
    <script>
        initDetail()
    </script>
}