@{
    ViewData["Title"] = "My posts";
}

<h2>My photo</h2>

@if (User.IsInRole("Admin"))
{
    <div class="pad">
        <a href="@Url.Action("ApiCreate", "Photo")">New photo</a>
    </div>
}

@*<div id="photos-filter">
    <div class="form-field">
        <label>Filter by title</label>
        <input placeholder="filter" />
    </div>*@

    <div class="text-center" id="photos-filter">
        <div class="form-field">
            <label class="d-block mb-3">Cerca per nome:</label>
            <input class="mb-3" placeholder="Cerca" />
        </div>
    </div>

<h3 class="text-center" id="no-photos">Nessuna Foto</h3>

<p id="photos-loader">Loading...</p>


  


    <div id="photos">
      
    </div>



@section Scripts
    {
    <script>
        loadPhotos();
        initFilter();
    </script>
}