@{
    ViewData["Title"] = "My posts";

}

<h2>My photo</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/1000/1200/?blur=2" class="d-block w-100 img-fluid" alt="cane">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/870/1000/1200?grayscale&blur=2" class="d-block w-100 img-fluid" alt="cane">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1000/1200?grayscale" class="d-block w-100 img-fluid" alt="cane">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/id/237/1000/1200" class="d-block w-100 img-fluid" alt="cane">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



@*@if (User.IsInRole("Admin"))
{
    <div class="pad">
        <a href="@Url.Action("ApiCreate", "Photo")">New photo</a>
    </div>
}*@




<div id="photos-filter">
    <div class="form-field m-2">
        <label>Filtro titolo</label>
        <input class="filter-bar" placeholder="filter" />
    </div>
</div>

<h3 class="text-center" id="no-photos">Nessuna Foto</h3>

<p id="photos-loader">Loading...</p>




    <div id="photos">
      
    </div>


<form class="pb-5" id="message-form">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Inserisci la tua Email">
        <span id="email-error" class="text-warning"></span>
    </div>
    <div class="mb-3">
        <label for="message" class="form-label">Messaggio</label>
        <textarea class="form-control" id="message"></textarea>
        <span id="message-error" class="text-warning"></span>
    </div>
    <button id="submit" type="submit" class="btn btn-primary">Invia</button>
</form>

@section Scripts
    {
    <script>
        loadPhotos();
        initFilter();
        initMessageForm();
    </script>
}