@model PhotoFormModel

<h2>New photo</h2>

<div class="container">
	<div class="pad">
		<form method="post" asp-controller="Photo" asp-action="Create" enctype="multipart/form-data">
			@Html.AntiForgeryToken()
			<div class="form-field">
				<label asp-for="Photo.Title">Title</label>
				<input asp-for="Photo.Title" />
				<span asp-validation-for="Photo.Title" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Photo.Description">Description</label>
				<textarea asp-for="Photo.Description"></textarea>
				<span asp-validation-for="Photo.Description" class="text error"></span>
			</div>
			<div class="form-field">
				<label asp-for="Photo.Image">Image source</label>
				<input asp-for="Photo.Image" />
				<span asp-validation-for="Photo.Image" class="text error"></span>
			</div
				<div class="form-field">
				<label asp-for="ImageFormFile">Image file</label>
				<input type="file" asp-for="ImageFormFile"/>
				<span asp-validation-for="ImageFormFile" class="text error"></span>
			</div>
			<div class="form-field">
				<span ><label asp-for="Photo.Visible">Visible</label><span class="ps-2"><input type="checkbox" asp-for="Photo.Visible"/></span></span>
			</div>

	@*		<div class="form-field">
				<label asp-for="Pizza.CategoryId">Category</label>
				<select asp-for="Pizza.CategoryId">
					<option value="0"></option>
					@foreach (var cat in Model.Categories)
					{
						<option value="@cat.Id">@cat.Title</option>
					}
				</select>
				<span asp-validation-for="Pizza.CategoryId" class="text error"></span>
			</div>*@
	@*		<div class="form-field">
				<label asp-for="SelectedIngredients">Ingredients</label>
				<select asp-for="SelectedIngredients" multiple="multiple" asp-items="@Model.Ingredients"></select>
			</div>*@
			<button type="submit">Create</button>
		</form>
	</div>
</div>
