@model Photo[]
@{
    ViewData["Title"] = "My Photos";
    var photos = Model;
}


<h1 class="text-center text-danger pt-3 pb-2">Foto Presenti</h1>

@if (User.IsInRole("Admin"))
{
    <div class="pad text-center mb-3">
        <a class="btn btn-outline-primary" href="@Url.Action("Create", "Photo")">Add new photo</a>
    </div>
}





@if (photos.Length is 0)
{
    <p>No post to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Visible</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        

            @foreach (var photo in photos)
            {
                @await Html.PartialAsync("_photoRow", photo)
                ;
            }
        </tbody>
    </table>
}
