@model Photo[]
@{
    ViewData["Title"] = "Home Page";
    var photos = Model;
}

<h1 class="text-center text-danger">Foto Presenti</h1>


<div class="container container-card gap-4">
    @if (photos.Length is 0)
    {
        <p>No Pizze to display :\</p>
    }
    else
    {
        @foreach (var photo in photos)
        {

            @await Html.PartialAsync("_PizzaRow", photo)
            ;
        }
    }
</div>