@model Photo[]
@{
    ViewData["Title"] = "My Photos";
    var photos = Model;
}

@if (User.IsInRole("Admin"))
{
    <div class="pad">
        <a href="@Url.Action("Create", "Photo")">New photo</a>
    </div>
}


<h1 class="text-center text-danger">Foto Presenti</h1>

<div class="text-center pb-3">
    <a href="@Url.Action("Create", "Photo")">Aggiungi Nuova Foto</a>
</div>



@if (photos.Length is 0)
{
    <p>No post to display :\</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Title</th>
                <th>Description</th>
                <th>Visible</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var photo in photos)
            {
                @await Html.PartialAsync("_photoRow", photo)
                ;
            }
        </tbody>
    </table>
}
